
{% extends "baseTemplates/_baseTemplate.html"  %}
{% block content%}


<div class="box box-primary">
    <div class="box-header with-border">
    <div class="col-md-4">
        <h3 class="box-title">Brands</h3>    
    </div>
    <div class="col-md-4">
       {% comment %} <a href="{% url 'uom'  %}" > Add New </a>     {% endcomment %}
    </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th>Brand name</th>
                   
                    
                    <th>Create Date</th>
                    <th>Create By</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>
    </div>
</div>



{% endblock %}