
{% extends "baseTemplates/_baseTemplate.html" %}
{% block content%}


    <div class="row"> 
        <div class="col-md-offset-2 col-md-6">
            <div class="box box-primary" >
                
               <form>{% csrf_token %}
                 <div id="fromMaster" >
                    {% include 'BasicSettings/_brandForm.html' %}
                </div>
                
               </form>
                <button class="btn btn-success btn-sm" onclick="SaveBrand()" ><span class="fa fa-save"><span>&nbsp; Save </button>
                    
                
                
                  
            </div>
        </div>
    </div>


    <script>

     function SaveBrand(){

        debugger;
        var jsonData = {};
        jsonData["ItemBrandName"] =$.trim($("#id_ItemBrandName").val()); 
        
        jsonData["IsActive"] = $('#id_IsActive').is(':checked')?'True':'False';
        AjaxSetup();
        var urlpath = '{% url "SaveBrand"   %}';
        $.ajax({
               
                data:  JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",

                success:function (response,status, xhr) 
                {
                    debugger;
                      
                    var ct = xhr.getResponseHeader("content-type");

                    
                    if(ct=="application/json")
                    {
                    var error =  JSON.parse(response)
                    var asd = error.HasError
                    
                    if(error.HasError)
                    {
                        
                        $('#fromMaster').empty();
                        $('#fromMaster').append(error.TheData)
                    }
                    if(error["IsSuccess"]==true){
                      window.location.href  = '{% url "brands"   %}';
                    }
                }

                }
                
            });

    }
  


        function AjaxSetup(){
          $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
    });
}

    </script>
{% endblock %}