
{% extends "baseTemplates/_baseTemplate.html" %}
{% block content%}

<div class="box box-primary">
    <div class="box-header with-border">
    <div class="col-md-4">
        <h3 class="box-title">Unit Of Masurement(UOM)</h3>    
    </div>
    <div class="col-md-4">
       <a href="{% url 'uom'  %}" > Add New </a>    
    </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th>UOM Name</th>
                    <th>Short Name</th>
                    <th>Create Date</th>
                    <th>Create By</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for obj in object_list %}
                <tr>
                    <td>{{obj.UomMasterName}}</td>
                    <td>{{obj.UomMasterShortName}}</td>
                    <td>{{obj.CreateDate}}</td>
                    <td>{{obj.CreateDate}}</td>
                    <td>
                        
                        <a href="{% url 'uomInfo' obj.pk %}"  class="btn btn-sm btn-warning"><span class="fa fa-edit"></span></a>
                        <a class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                        
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}