 <div class="row" id="divForProductCategory">
    <label>Category:</label>
    {{masterForm.ProductCategory}}
    <label class="text-danger" >{{masterForm.errors.ProductCategory.as_text }}</label>
      
</div>
 <div class="row" id="divForItemGroup">
    <label>Name:</label>
    {{masterForm.ProductName}}
    <label class="text-danger" >{{masterForm.errors.ProductName.as_text }}</label>
      
</div>
<div class="row" id="divForItemCategory">
    <label>Description:</label>
    {{masterForm.ProductDescripTion}}
    <label class="text-danger" >{{masterForm.errors.ProductDescripTion.as_text }}</label>
      
</div>





<div class="row" id="divForProductCountry">
    <label>Origin:</label>
    {{masterForm.ProductCountry}}
    <label class="text-danger" >{{masterForm.errors.ProductCountry.as_text }}</label>
      
</div>



<div class="row" id="divForProductBrand">
    <label>Brand:</label>
    {{masterForm.ProductBrand}}
    <label class="text-danger" >{{masterForm.errors.ProductBrand.as_text }}</label>
      
</div>

<div class="row" id="divForProductColor">
    <label>Color:</label>
    {{masterForm.ProductColor}}
    <label class="text-danger" >{{masterForm.errors.ProductColor.as_text }}</label>
      
</div>

<div class="row" id="divForProductSize">
    <label>Size:</label>
    {{masterForm.ProductSize}}
    <label class="text-danger" >{{masterForm.errors.ProductSize.as_text }}</label>

</div>

<div class="row" id="divForProductUOM">
    <label>UOM:</label>
    {{masterForm.ProductUOM}}
    <label class="text-danger" >{{masterForm.errors.ProductUOM.as_text }}</label>

</div>


<div class="row" id="divForIsActive">
    <label>Is Active:</label>
    {{masterForm.IsActive}}
    
      
</div>


